.big-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    width: 80%;
}

.item{
    border: 2px solid rgba(39, 109, 39, 0.616);
    padding: 1rem;
    width: 20rem;
    height: 20rem;
}
.item-img{
    height: 10rem;
    border: 1px solid rgba(128, 128, 128, 0.232);
    
}

.confirmmodal{
    background-color: rgba(0, 0, 0, 0.621);
    position: fixed;
    inset: 0;
    z-index: 100;
    backdrop-filter: blur(3.5px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}
.confirmmodal .box{
    background-color: rgba(106, 88, 103, 0.525);
    padding: 1rem;
    border: 1px solid rgba(255, 0, 0, 0.438);
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.confirmmodal .box button{
    padding: .5rem 2rem;
    margin: 0 2rem;
    font-size: 1.2rem;

}

/*------------------------------------------- add rezept --------------------------------------*/

.addrezept{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}
.addrezept form{
    display: flex;
    flex-direction: column;
}
.addrezept form div{
    display: flex;
    flex-direction: column;
    width: 50rem;
    font-size: large;
}
.addrezept form div input{
    height: 3rem;
    font-size: large;
}
.addrezept form div textarea{
    height: 4rem;
    font-size: large;
    resize: none;
}
.addrezept form button{
    height: 3rem;
    font-size: large;
    color: aqua;
    letter-spacing: 2px;
}
.form-löschen{
    width: 2rem;
}

/*-------------------------------------------rezept detail --------------------------------------*/
.rezeptdetail{
    width: 80%;
    margin: 5rem auto;
    font-size: 1.2rem;
}

.item-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.232);
    margin: 5px 0;
}
.buttondetail{
    display: flex;
    justify-content: space-between;
}

.buttondetail button{
    font-size: 1.3rem;
    padding: .5rem 3rem;
    background-color: rgba(109, 34, 34, 0.402);
    border: 0.5px solid rgb(159, 156, 96);
}
.buttondetail button:hover{
    font-size: 1.33rem;
    padding: .5rem 3rem;
    background-color: rgba(109, 34, 34, 0.748);
    border: 0.5px solid rgb(163, 212, 85);
    cursor: progress;
}


/*------------------------------------------- update-rezept --------------------------------------*/

.update-rezept{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}
.update-rezept form{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}
.update-rezept form label{
    background-color: #a4f7ff6b;
    padding: .5rem .5rem;
    font-size: 1.4rem;
}
.update-rezept form div{
    display: flex;
    flex-direction: column;
    width: 50rem;
    font-size: large;
}
.update-rezept form div input{
    height: 3rem;
    font-size: large;
}
.update-rezept form div textarea{
    height: 8rem;
    font-size: 1.1rem;
    resize:vertical;
    padding: 0.6rem;
    
}
.update-rezept form button{
    height: 3rem;
    font-size: large;
    color: aqua;
    letter-spacing: 2px;
}